* {
    margin: 0;
    line-height: 1.4;
    padding: 0;
    border: 0;
}

/* create a grid next time*/


#mainGrid {
    display: grid;
    box-sizing: border-box;
    max-width: 500px;
    min-width: 500px;
    height: 500px;
    margin: 2rem auto;
    border: 2px solid black;


}

.grid {
    display: block;
    box-sizing: border-box;
    line-height: 25.6px;
    border: 1px solid black;
}


#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#button {
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #4d6aa8 5%, #5972a7 100%);
	background-color:#4d6aa8;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
#button :hover {
	background:linear-gradient(to bottom, #5972a7 5%, #4d6aa8 100%);
	background-color:#5972a7;
}
#button :active {
	position:relative;
	top:1px;
}

#idClear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#buttonClear {
    box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #4d6aa8 5%, #5972a7 100%);
	background-color:#4d6aa8;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

#buttonClear:hover {
    background:linear-gradient(to bottom, #5972a7 5%, #4d6aa8 100%);
	background-color:#5972a7;
}

#buttonClear :active {
    position:relative;
	top:1px;
}