* {
    margin: 0;
    line-height: 1.4;
    padding: 0;
    border: 0;
}

body {
	height: 100%;
	background-image: radial-gradient(circle at center center, transparent 0%,rgb(33,33,33) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
#title {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	font-size: 70px;
	color: white;
}


/* create a grid next time*/
#mainGrid {
    display: grid;
    box-sizing: border-box;
    max-width: 500px;
    min-width: 500px;
    height: 500px;
    margin: 2rem auto;
    border: 2px solid black;
	background-color: white;

}

.grid {
    display: block;
    box-sizing: border-box;
    line-height: 25.6px;
    border: 1px solid black;
}


#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#button {
	background-color: red; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }

#button:hover {
background-color: white;
color: black;
}

#idClear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#buttonClear {
	background-color: red; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
  }

#buttonClear:hover {
background-color: white;
color: black;
}